html, body, div, span, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; 
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul.Topics{ 
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background: #55acee;
    box-shadow: -5px -5px #3C93D5;
    margin: 10px;
    background-color: #61dafb;
}
ul.Topics li{
    margin-right:5px;
    display: inline-flex;
    position:relative;
}
.Check{
    border-radius: 20% ;
    background-color: rgba(0,0,0,0.3);
    color: white;
    margin: 10px 5px;
    padding: 10px;
    justify-items: center;
}
.Topics input{
    font-weight: 700;
    border-radius: 2%;
    background-color: rgb(81, 218, 145);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 0 rgb(25, 145, 81);
    margin: 5px 10px ;
}
.Topics input:hover {
    background-color: rgb(76, 243, 154); /* Green */
}
.Topics input:active  {
    background-color: rgb(13, 212, 106); /* Green */
}

.Check + h3{
    margin: 5px;
}
.Check button,input {
    padding: 5px;
    margin-top: 0;
    width: auto;
}

div.GRID {
    width: auto;
    background-color: hotpink;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    box-shadow: 5px 5px 0 rgb(173, 25, 99);
    margin: 10px;
}

div.GRID ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
    border: 2px solid rgb(10, 60, 75);
    vertical-align: middle;
    width: 200px;
}
 
div.Footer{
    background-color: mediumspringgreen;
    box-shadow: 5px -5px 0 0 rgb(8, 143, 71);
    margin: 10px;
    border-radius: 5px;
}
div.Footer ul li{
    display: inline-block;
    list-style: none;
    margin: 5px;
    border: 2px solid rgb(10, 60, 75);
    vertical-align: middle;
    width: 200px;
    
}
div.ViewPost {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px
}
div.ViewPost input {
    font-weight: 700;
    border-radius: 2%;
    background-color: #55a7e6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 0 #3C93D5;
    margin: 5px 10px ; 
    
} 
.ViewPost input:hover {
    background-color:#5bb6fc;   
}
.ViewPost input:active  {
    background-color: #448dc5;  
}
div.FooterPostView {
    font-weight: 700;
    border-radius: 2%;
    color: white;
    margin: 10px;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
}
.FooterPostView input {
    font-weight: 700;
    border-radius: 2%;
    background-color: #cc5490;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 0 #ad1963;
    margin: 5px 10px ; 
    
} 
.FooterPostView input:hover {
    background-color:#ff69b4;   
}
.FooterPostView input:active  {
    background-color: #ad1963;  
}