html, body, div, span, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 110%; /*70 */
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1.2; }

ol {
    padding-left: 1.4em;
    list-style: decimal; }
ul {
    padding-left: 1.4em;
    list-style: square;}
table {
    border-collapse: collapse;
    border-spacing: 0; }
html{
    background-size:100% auto;
    background: url('/images/fon.png') 50% 50%;
}
.left{
    float: left;
}
.right{
    float: right;
}
body{
    width: 90%;
    margin: 0 auto 0 auto;
    height: 100%;
  background:
         url('/images/flo.png') no-repeat local top,
         url('/images/floB.png') no-repeat local bottom;
    background-size: 90%;
}
.cap{
    display: flex;
    justify-content: space-around;
}
.centur{
    display: flex;
    justify-content: center;
}
@keyframes fadeIn {
    from{/* можно написать 0% */
        opacity: 0;
    }
    to{/* можно написать 100%*/
        opacity: 1;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.announcement {  animation-name: fadeIn;  animation-duration: 5s;
    -webkit-animation-name: fadeIn;  -webkit-animation-duration: 5s;
    -moz-animation-name: fadeIn;  -moz-animation-duration: 5s;
    -o-animation-name: fadeIn;  -o-animation-duration: 5s;
}

header.cap h1{
    text-align: center;
    text-transform: uppercase ;
    letter-spacing: -1px;
    font-size: 6rem;
    line-height: 1.2;
    word-spacing: 10px;
}

h1,h2,p{
    background: rgba(255,255,255,0.7);
}
.cap1{
 align-items: flex-start;
 width: auto;
}
.cap2{
 align-items: flex-end;
 width: auto;
}
main {
    width: 100%;
}
.GRID{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns:repeat(auto-fit, minmax(20%, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: -50px;
    padding-bottom: 40px;
}
.cart{
    align-self: center;
    box-sizing: border-box;
    height: 305px;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.6);
    object-fit: cover;
    background-color :grey;
}
.cart img{
    height: 250px;
    width: 200px;
}
.cart h2{
    font-size: 500%;
    height: 25px;
    width: 200px;
    text-align: center;
}
.cart:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 0s;/*отвечает за задержку после того , как увели мышку с поля */
}
.cart:not(:hover){
    transition-property: all;
    transform: scale(1.0);
    transition-duration: 500ms;
}
main h1{
    font-size: 40px;
}
.line{
    text-decoration: underline overline;
}
.cta{
    display: flex;
    flex-direction: row;
}
.cta button{
    border: 0;
    padding: 0;
    margin-top: 0;
    background: rgba(255,255,255,0.7);
    width: 100px;
    height: 30px;
    box-shadow:inset  0 0 2px 0  rgba(0,0,0,0.8);
}
.cta button:hover {
    box-shadow: 100px 0 0 0 rgba(255,255,255,0.8) inset;
}
header.Headhat{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width:  auto;
    height: 208px;
}

header.Headhat img{
    height: 200px;
    width: auto;
}
header.Headhat h1{
    margin: 0;
    border-radius: 10px;
}
footer{
    width: 1400px;
    border-top: 4px solid rgba(0,0,0,0.6);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0 ;
    text-align: center;
}
footer h3{
    font-size: 30px;
    padding-top: 20px;
}
.footerBar{
    width: 90%;
    padding-top: 20px;
    border-radius: 20px 20px 0 0 ;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,0.7);
}
.footerBar div{
    display: flex;
    justify-content: center;
}

.footerBar img{
    width: 50px;
    height: 50px;
    padding: 10px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));

    transition-property: all;
    transform: scale(1.0);
    transition-duration: 500ms;
}
.footerBar img:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 0s;
}

