
main {
  margin:  0 55px ; /* Выравниваем по центру */
  font-size: 1.45em;
 }
 .signature{ 
  font-size: 2.2em; /* Размер текста */
  text-align: center; /* Выравнивание по центру */
  padding: 5px; /* Отступы вокруг текста */
  border-bottom: 3px solid #3d7e9a; 
  background: rgba(255,255,255,0.7);
 }

.line{
  text-decoration: underline overline;
}
 div.Headhat{
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.Headhat img{
  height: 200px;
  width: auto;
}
div.Headhat h1{
  margin: 0;
  border-radius: 10px;
}

 nav {
  float: left;
  font-style: italic;
  color: #29627e;
}
nav ul{
  font-size: 1.8em; /* Размер текста */
  margin: 0 25px 0 200px ;
}
nav li a{
  padding: 0 5px ;
}
nav li a:hover{
  background-color: #794fdb;
}

img.me{
  width: 20%;
    height: auto;
    border: 2px solid rgb(10, 60, 75);
}
 
section p{
  border-bottom: 3px solid #3d7e9a; 
  padding-bottom: 15px;
  margin: 10px 0 25px;

  background-color: rgba(249, 223, 255, 0.7);
  padding: 7px;
}

section h1{
  padding: 25px 0;
  font-size: 2.2em;
  text-align : center;
}

section h2{
  padding-left: 7px;
}
.footerBar{
  display: flex;
  justify-content: center;
}

.footerBar img{
  width: 50px;
  height: 50px;
  padding: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  transition-property: all;
  transform: scale(1.0);
  transition-duration: 500ms;
}
.footerBar img:hover{
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: 0s;
}
a:link {
  color: rgb(0, 0, 0); 
}

a:hover {
  color: rgb(255, 255, 255); 
}
a:active {
  color: rgb(255, 118, 244); 
}
.Visitca h1{
  background-color: rgba(255, 255, 255, 0.6);
}
.Visitca h2{
  background-color: rgba(255, 255, 255, 0.6);
}
.Visitca h3{
  background-color: rgba(255, 255, 255, 0.6);
}
button {
  display:inline-block;
  padding: 0.2em 1.45em;
  margin:0.1em;
  border:0.15em solid #CCCCCC;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  background-color:rgb(255, 253, 132);
  text-align:center;
  position:relative;
}
button:hover{
  border-color:#ecee68;
}
button:active{
  background-color:#a7b652;
}